---
interface Props {
    nombreProd: string;
    imagen:string;
    link:string;
    precio:number;
    descripcion: string;
    apiwsp:string;
}

const {nombreProd, descripcion, imagen, link , precio,apiwsp} = Astro.props

---

<div class="justify-center m-5 flex gap-6">
    
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href={link} target="_blank">
            <img src={imagen} alt="Bolso" class="p-8 rounded-t-lg"/>
        </a>
        <div class="px-5 pb-5">
            <a href={link}>
                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{nombreProd}</h5>
            </a>
            <div class="flex items-center mt-2.5 mb-5">
                <p>
                    {descripcion}
                </p>
            </div>
            <div class="flex items-center justify-between">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">${precio} ARS</span>
                <a href="" + {nombreProd} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Lo quiero!</a>
            </div>
        </div>
    </div>
</div>